body{
  margin : 0;
}

.Header{
  display: block;
  height: calc(5vh) !important;
}

.Hands {
  display : flex;
  flex-direction : row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height : 21%;
}

.Hand {
  margin: 3px;
}

.Hand>img{
  object-position: 2px;
}

.ClickedHand{
  margin: 0;
}

.ClickedHand>img{
  border : 3px solid yellow;
}

.Hand:hover{
  opacity: 0.7;
}

.Field{
  height: calc(95vh);
  background-color: #777;
}

.Players{
  display: flex;
  justify-content: space-around;
  height: 10%;
  color : wheat;
  background-color: dimgray;
}

.Player{
  font-size: 1.5rem;
  text-align: center;
}

.player-name{
  height: 34%;
}

.player-status{
  padding-block-start: 13%;
  height: 53%;
}

.Empty{
  color : black;
}

.GameField{
  height:60%;
}

.playBtn{
  border: 0;
  height: 100%;
  width: 33%;
}

.playBtn:hover {
  filter: brightness(0.85);
}

.blueBtn{
  background-color: aquamarine;
}

.redBtn{
  background-color: firebrick;
}

.grayBtn{
  background-color: gray;
}

.blueBtn{
  background-color: aquamarine;
}

.BtnField{
  display: flex;
  justify-content: space-around;
  height: 7.5%;
}

.my-field{
  font-size: 1.5rem;
  width: 33%;
  text-align: center;
  padding: 1rem 0;
  color: wheat;
}

.Gauge{
  height:0.5%;
}

.d-none{
  display: none;
}
